* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}


.navbar {
    background-color: rgba(0, 0, 0);
    font-family: "Montserrat";
    color: white;
    font-size: 15px;
    font-weight: 500;
    height: 10vh;
    /* float: left; */
    position: relative;
}

.navbar div:nth-child(1) {
    /* margin: 10px */
    /* position: absolute; */
    height: 100%;
    /* width: 15%; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.logo {
    height: 30px;
    /* display: inline-block; */
    /* padding: 10px 0; */
}

.line {
    display: inline-block;
    margin: 0px 70px;
    background-color: #fff;
    height: 30px;
    width: 2px;
}

.grow-list {
    position: absolute;
    display: inline-flex;
    height: 100%;
    width: 40%;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin: 0px 0px 0px 20px;
}

.navbar div:nth-child(4) {
    position: absolute;
    /* display: inline-flex; */
    display: flex;
    height: 100%;
    right: 5%;
    align-items: center;
    top: 0;
}

.button-small {
    height: 30px;
    align-items: center;
    background-color: #BA0CC5;
    color: white;
    font-family: Montserrat;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 5px;
}

/* Hero */
.hero {
    color: white;
    /* background-color: #BA0CC5; */
    display: inline-block;
    width: 50%;
    padding-top: 200px;
    /* margin-top: 10%; */
}

.container section:nth-child(2) {
    background-image: url(./assets/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 90vh;
    text-align: center;
    font-family: Montserrat;
}

.hero-heading {
    font-size: 60px;
}

.hero-description {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 7%;
    margin-top: 1%;
}

.button-large::first-letter{
    text-transform: uppercase;
}

.button-large{
    border: 0px;
    text-transform: lowercase;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 20px;
    background-color: #BA0CC5;
}